/node_modules

chatbot/node_modules
chatbot/dist
chatbot/.env
chatbot/.env.local
chatbot/.env.development.local
chatbot/.env.test.local
chatbot/.env.production.local
chatbot/.next

express-api/node_modules
express-api/dist
express-api/.env
express-api/.env.local
express-api/.env.development.local
express-api/.env.test.local
express-api/.env.production.local
express-api/.next
